<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ac.uk/kcl/inf/mde/WeebADoodle"
			class = "uk.ac.kcl.inf.mde.weebADoodle.WeebADoodlePackage"
			genModel = "model/generated/WeebADoodle.genmodel" />
	</extension>
</plugin>
